CLICKHOUSE_HOST=rc1a-1kv5jd0taf1ef4ah.mdb.yandexcloud.net
CLICKHOUSE_PORT=8443
CLICKHOUSE_DATABASE=etl
CLICKHOUSE_USER=rouser
CLICKHOUSE_PASSWORD=change-me
CLICKHOUSE_CA_PATH=/usr/local/share/ca-certificates/Yandex/RootCA.crt
CLICKHOUSE_REQUEST_TIMEOUT_MS=30000
PORT=3000
